@import "tailwindcss";
@source "..";

/**
  * Colors and main variables of your theme.
  */
@theme {
  /* Main colors */
  --color-primary: var(--color-rose-500);
  --color-primary-hover: var(--color-rose-400);
  --color-primary-foreground: var(--color-rose-50);
  /* Theme colors */
  --color-font: var(--color-black);
  --color-font-dark: var(--color-gray-50);
  --color-background: var(--color-white);
  --color-background-dark: var(--color-gray-900);
  --color-foreground: var(--color-gray-100);
  --color-foreground-dark: var(--color-gray-700);
  /* Utility colors */
  --color-error: var(--color-red-500);
  --color-success: var(--color-green-500);
  --color-warning: var(--color-yellow-500);
  --color-info: var(--color-blue-500);
  /* Main variables */
  --font-main: "Inter", sans-serif;
  --font-mono: "Fira Code", monospace;
  --radius: 0.5rem;
}

/**
  * Typography of your theme. Can be overriden by utility classes.
  */
@layer base {
  main {
    @apply w-full max-w-[70ch] px-5 mx-auto;
  }
  section {
    @apply mt-6 mb-12;
  }

  h1 {
    @apply text-3xl font-extrabold leading-none my-5;
  }

  h2 {
    @apply text-xl font-bold leading-none mt-10 mb-5;
  }

  h3 {
    @apply text-base font-semibold my-5;
  }

  p {
    @apply text-base leading-relaxed my-5;
  }
}

/**
  * Main components of your theme. Can be overriden by utility classes.
  */
@layer components {
  .interactive {
    @apply cursor-pointer focus:outline-none focus:ring-2 focus:ring-offset-2 ring-offset-background dark:ring-offset-background-dark focus:ring-primary rounded;
  }

  .interactive-effect-primary {
    @apply hover:bg-primary-hover dark:hover:bg-primary-hover active:bg-primary;
  }

  .interactive-effect-secondary {
    @apply hover:text-primary hover:bg-foreground dark:hover:bg-foreground-dark active:bg-primary-foreground;
  }

  .interactive-effect-nav {
    @apply hover:bg-foreground dark:hover:bg-foreground-dark active:text-primary active:bg-primary-foreground px-2 py-1 aria-[current=page]:text-primary aria-[current=page]:bg-primary-foreground [&.active]:text-primary [&.active]:bg-primary-foreground;
  }

  .card {
    @apply bg-foreground dark:bg-foreground-dark;
  }

  .card h3 {
    @apply group-hover:text-primary;
  }

  .btn {
    @apply font-medium text-primary-foreground bg-primary dark:bg-primary;
  }

  .btn-alt {
    @apply bg-foreground dark:bg-foreground-dark text-font dark:text-font-dark;
  }

  /* Code block styles */
  .astro-code {
    @apply font-mono py-4 px-5 rounded;
  }

  /* Inline code styles */
  p code,
  li code {
    @apply font-mono text-sm bg-foreground dark:bg-foreground-dark py-0.5 px-1 rounded;
  }
}
